<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,600&display=swap" rel="stylesheet">
    <link href="/css/newsReader.css" rel="stylesheet" type="text/css"/>
    <title>Arialy - Your Trusted Banking</title>
</head>
<body>
    <header>
        <div class="upper-nav-bar">
            <div class="logo-title">
                <form action="/home" method="POST" class="logo-navigate">
                    <img src="./img/logo-title.png" alt="">
                </form>
            </div>
            <div class="sign-log-in">
                <button class="skip-log-btn">Log in</button>
                <button class="skip-reg-btn">Sign Up</button>
                <button class="contact-btn">Contact Us</button>
            </div>
        </div>
        <nav>
            <ul class="ul-navbar">
                <form action="/home" method="POST"><li>Home</li></form>
                <form action="/markets" method="POST"><li>Markets</li></form>
                <form action="/budgetPlanner" method="POST"><li>Budget Planner</li></form>
                <form action="/newsReader" method="POST"><li>News</li></form>
                <form action="/FAQ" method="POST"><li>FAQ</li></form>
            </ul>
        </nav>
    </header>
    <main>
        <div class="container"> 
           <section class="space" id="capital-space">
                <h2>Here you will find <span class="news-word-dec">news</span>from the world of<span class="key-word-dec">capital markets:</span></h2>
                <div class="news-space capital-news-block"></div>
            </section>
            <div class="bg-to-second-section">
                <section class="space" id="crypto-space">
                    <h2><span class="news-word-dec">News</span> from<span class="key-word-dec">cryptocurrency markets:</span></h2>
                    <div class="news-space crypto-news-block"></div>
                </section>
            </div>
            <section class="space" id="banking-space">
                <h2><span class="news-word-dec">News</span> from<span class="key-word-dec">banking:</span></h2>
                <div class="news-space banking-news-block"></div>
            </section>
        </div>
        <button type="submit" class="move-up-btn"></button>
    </main>
    <footer>
        &copy; 2020 Arialy - Your Trusted Banking. Helpline (open 24 hours a day, 7 days a week): *** *** ***.
    </footer>
    <script src="/newsReader.js"></script>
</body>
</html>